<section class="main-container">
  <header class="row">
    <div class="col-12">
      <h1 class="title">Vivero El Otoño</h1>
    </div>
    <div class="col-12">
      <hr class="header_div" />
    </div>
    <div class="col-12">
      <img src="image.png" alt="banner" width="100%" />
    </div>
    <div class="col-12">
      <hr />
    </div>
  </header>

  <main>
    <app-list-plants />
  </main>

  <footer class="text-center">
    Contact us: +57 3102105253 - info&#64;viveroelotonio.com -
    &#64;viveroelotonio
  </footer>
</section>
