@if(!error()){

  @if(loading()){
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center my-4 gap-2">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
          <strong>Cargando...</strong>
        </div>
      </div>
    </div>
  }@else {
    <div class="row">
      <div class="col-12 col-sm-8">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre común</th>
              <th scope="col">Tipo</th>
              <th scope="col">Clima</th>
            </tr>
          </thead>
          <tbody>
            @for (item of plants(); track $index) {
            <tr>
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.nombre_comun }}</td>
              <td>{{ item.tipo }}</td>
              <td>{{ item.clima }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }

}@else {
<alert type="danger">
  <strong>Error!</strong> Algo salió mal al cargar el listado.
</alert>
}
